main {

  #section-1 {
    max-width: $max-width;
    margin: auto;
    padding: 100px 0;
    &::after {
      @include clearfix;
    }
    .left {
      width: 50%;
      float: left;
      padding-right: 35px;
      h2 {
        font-size: 3.2em;
        font-weight: 600;
        line-height: 1.5em;
        color: $text-color;
        margin-bottom: 30px;
      }
      p {
        font-size: 1.5em;
        font-weight: 200;
        line-height: 1.5em;
        color: $text-color;
        margin-bottom: 30px;
      }
      a {
        font-size: 0.8em;
      }
      .btn {
        color: #fff;
        background-color: $btn-color;
        padding: 10px 18px;
        border-radius: $btn-radius;
        &:hover {
          background-color: $btn-color-hover;
        }
      }
      span {
        font-size: 0.8em;
        color: $text-color;
        margin: 0 10px;
      }
      .email {
        display: block;
        margin-top: 30px;
        color: $text-color;
        &:hover {
          color: $btn-color;
        }
      }
    }
    .right {
      width: 50%;
      float: left;
      img {
        width: 100%;
      }
    }
  }

  #section-2 {
    background-color: $background-color;
    text-align: center;
    .container {
      max-width: $max-width;
      margin: auto;
      padding: 100px 0;
      &::after {
        @include clearfix;
      }
      h3 {
        max-width: 650px;
        margin: auto;
        font-size: 1.6em;
        line-height: 1.5em;
        color: $text-color;
        margin-bottom: 75px;
      }
      .box {
        width: calc(100% / 3);
        float: left;
        img {
          height: 120px;
        }
        p {
          font-size: 1.2em;
          font-weight: 200;
          margin-top: 40px;
          color: $text-color;
          padding: 0 60px;
        }
      }
      .img-bottom {
        width: 300px;
        margin-top: 100px;
      }
    }
    .container:first-child {
      border-bottom: 1px solid $text-color;
    }
    h3 {
      font-size: 1.6em;
      color: $text-color;
      padding-bottom: 80px;
    }
  }

  #section-3 {
    .row {
      margin: 100px 0;
      &::after {
        @include clearfix;
      }
      .left {
        float: left;
        img {
          float: right;
        }
      }
      .right {
        float: right;
        img {
          float: left;
        }
      }
      .image {
        width: 50%;
        overflow-x: hidden;
        img {
          width: 110%;
        }
      }
      .text {
        width: 30%;
        padding: 20px;
        h4 {
          font-size: 1.6em;
          line-height: 1.6em;
          color: $text-color;
        }
        p {
          margin: 20px 0;
          font-size: 1.3em;
          line-height: 1.5em;
          color: $text-color;
        }
        a {
          display: block;
          margin: 30px 0;
          font-size: 1.2em;
          color: $btn-color;
        }
        img {
          width: 270px;
          margin-left: 50px;
        }
      }
    }
  }
}